/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
 * GLOBALS
**/

.custom-recurrence {
  .mat-form-field {
    width: 64px;
    margin-right: 8px;
  }
  .mat-form-field-infix {
    width: auto;
  }
}

/**
 * GLOBALS
**/

.full-width {
  width: 100%;
}
